:root {
  --font-family: "Montserrat", sans-serif;
  --text-color: #2d2d2d;
  --gray-100: #f2f4f6;
  --gray-700: #4a5568;
  --light: #f3e8ff;
  --primary: #6d28d9;
  --dark: #4c1d95;
  --success: #16a34a;
  --danger: #ef4444;

  --border: 1px solid var(--gray-100);
  --radius: 24px;
}
